<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.acrel.datatransfer.zhongjianku.mapper.EventhandleZhongjiankuMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.acrel.datatransfer.zhongjianku.model.EventhandleZhongjianku">
        <id column="Id" property="id" />
        <result column="CreateTime" property="createtime" />
        <result column="EventId" property="eventid" />
        <result column="Creator" property="creator" />
        <result column="Reason" property="reason" />
        <result column="Remark" property="remark" />
        <result column="Checker" property="checker" />
        <result column="CheckTime" property="checktime" />
        <result column="CheckResult" property="checkresult" />
        <result column="DataStatus" property="datastatus" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        Id, CreateTime, EventId, Creator, Reason, Remark, Checker, CheckTime, CheckResult, DataStatus
    </sql>

</mapper>
