<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.acrel.datatransfer.environment.mapper.ProducetreatEnvironmentMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.acrel.datatransfer.environment.model.ProducetreatEnvironment">
        <id column="Id" property="id" />
        <result column="ProduceId" property="produceid" />
        <result column="TreatId" property="treatid" />
        <result column="BackUp" property="backup" />
        <result column="RunMode" property="runmode" />
        <result column="Remark" property="remark" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        Id, ProduceId, TreatId, BackUp, RunMode, Remark
    </sql>

</mapper>
